<div class="card">
    <div class="card-header">
        <strong>Link Share</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-md-6 d-flex mt-4" *ngFor="let link of this.project.linkShareComponent.simpleLinks; let i = index">
                <app-simple-link [link]="link" *ngIf="!this.mayWrite" style="flex: 1"></app-simple-link>
                <app-simple-link-edit [link]="link" [index]="i" *ngIf="this.mayWrite" style="flex: 1;" (onEdited)="this.onUpdate()" (onDeleted)="this.onDelete($event)"></app-simple-link-edit>
            </div>
            <div class="col col-md-6 d-flex">
                <button class="d-flex mt-4 ml-2 mr-2 custom-add-button align-items-center" style="flex:1" (click)="addLink()">
                    <i class="fa fa-plus p-3 font-2xl mr-3"></i>
                    <strong>Add Link</strong>
                </button>
            </div>
        </div>
    </div>
</div>