<ng-template #tt>
    {{link.description}}
</ng-template>
<div class="d-flex" [tooltip]="link.description ? tt : undefined">
    <i class="fa fa-link p-3 font-2xl mr-3" style="background-color: #F4B400; color: white;"></i>
    <div *ngIf="this.link">
        <a href="{{link.link}}">
            <div class="text-value-sm text-primary">{{link.title ? link.title : "Untitled"}}</div>
        </a>
        <div class="text-muted text-uppercase font-weight-bold small">{{getClassification()}}</div>
    </div>
</div>