<div class="card">
    <div class="card-header">
        <strong>Password Share</strong> 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-md-12" *ngIf="this.decrypted">
                <tabset active="active">
                    <tab *ngFor="let set of this.decryptedPasswords; let i = index" heading="{{set.title}}" (select)="onTabSelectAny()">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Title" [value]="set.title" *ngIf="this.mayWrite" [(ngModel)]="set.title">
                        </div>
                        <div class="form-group row" [class.mt-4]="itemIndex === 0" *ngFor="let item of set.items; let itemIndex = index">
                            <div class="col col-md-3 my-auto">
                                <button class="btn btn-sm btn-danger mr-2" *ngIf="this.mayWrite" (click)="removeItem(i, itemIndex)"><i class="fa fa-trash"></i></button> <label>{{item.key}}</label>
                            </div>
                            <div class="col" [class.col-md-9]="!this.mayWrite" [class.col-md-8]="this.mayWrite">
                                <app-secret-input
                                    [value]="item.value"
                                    [type]="item.type"
                                    [addVisibilitySwitch]="item.type == 'password'"
                                    >
                                </app-secret-input>
                            </div>
                            <div class="col col-md-1 my-auto" *ngIf="this.mayWrite">
                                <button class="btn btn-sm btn-primary mr-2 float-right" *ngIf="this.mayWrite" (click)="toggleItemType(i, itemIndex)">
                                    <i class="fa fa-lock" *ngIf="item.type == 'password'"></i>
                                    <i class="fa fa-font" *ngIf="item.type != 'password'"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2" *ngIf="set.items.length <= 0">
                            <div class="col col-md-12">
                                <p><small class="text-muted">No items in the list yet.</small></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <button class="btn btn-sm btn-primary mr-2" *ngIf="this.mayWrite" (click)="addItem(i)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <button class="btn btn-sm btn-primary mr-2 float-right" *ngIf="this.mayWrite" (click)="addTab()">
                                    <i class="fa fa-plus"></i> Add Tab
                                </button>
                            </div>
                        </div>
                    </tab>
                </tabset>
                <br>
                <h6>Change Master-Password</h6>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" id="newPassword" name="newPassword1" class="form-control" placeholder="New Master-Password" [(ngModel)]="this.newPassword1">
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" id="newPassword" name="newPassword2" class="form-control" placeholder="New Master-Password" [(ngModel)]="this.newPassword2">
                </div>
                <div class="alert alert-danger mt-4" role="alert" *ngIf="this.error.length > 0">
                {{this.error}}
                </div>
            </div>
            <app-password-share-login (onLogin)="this.onLogin($event)" *ngIf="!this.decrypted"></app-password-share-login>
        </div>
    </div>
    <div class="card-footer " *ngIf="this.mayWrite && this.decrypted">
        <button type="submit" class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Save</button>
        <div class="spinner-grow spinner-grow-sm text-primary ml-2" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>