<div class="col col-md-12" (keydown)="keyDownFunction($event)">
    <h6>Shared Master-Password</h6>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
        </div>
        <input type="password" id="password" name="password" class="form-control" placeholder="Shared Master-Password" [(ngModel)]="this.password">
    </div>
    <p *ngIf="!this.notYetInitialized"><small class="text-muted">To access the password share you will need the project master password.</small></p>
    <p *ngIf="this.notYetInitialized"><small class="text-muted">Please define a secure password. Then share it via a different medium to your customer (e.g. telephone).</small></p>
    <button class="btn btn-primary" (click)="onDecrypt()">
        <i class="fa fa-unlock"></i> {{this.loading ? 'Decrypting...' : 'Decrypt and Show Passwords'}}
    </button>
    <div class="spinner-grow spinner-grow-sm text-primary ml-2" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="alert alert-danger mt-4" role="alert" *ngIf="this.error.length > 0">
    {{this.error}}
    </div>
</div>