<div class="card">
    <div class="card-header">
        <strong>Password Share</strong>
        <div class="card-header-actions" *ngIf="this.mayWrite">
            <a class="card-header-action btn-close" style="cursor: pointer;" (click)="this.warningModal.show()">
                <i class="icon-close"></i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-md-12" *ngIf="this.decrypted">
                <tabset active="active">
                    <tab *ngFor="let set of this.decryptedPasswords; let i = index" heading="{{set.title}}" (select)="onTabSelectAny()">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Title" [value]="set.title" *ngIf="this.mayWrite"
                                [(ngModel)]="set.title">
                        </div>
                        <div class="form-group row" [class.mt-1]="itemIndex === 0" [class.mt-4]="itemIndex === 0 && this.mayWrite"
                            *ngFor="let item of set.items; let itemIndex = index">
                            <div class="col col-md-4 my-auto d-flex">
                                <button class="btn btn-sm btn-danger mr-2" *ngIf="this.mayWrite" (click)="removeItem(i, itemIndex)"><i
                                        class="fa fa-trash"></i></button>
                                <label *ngIf="!this.mayWrite">{{item.key}}</label>
                                <input type="text" class="form-control" *ngIf="this.mayWrite" [(ngModel)]="item.key"
                                    placeholder="e.g. Username">
                            </div>
                            <div class="col d-flex" [class.col-md-9]="!this.mayWrite" [class.col-md-8]="this.mayWrite">
                                <app-secret-input [value]="item.value" [type]="item.type" [addVisibilitySwitch]="item.type == 'password'"
                                    *ngIf="!this.mayWrite">
                                </app-secret-input>
                                <input [type]="item.type" class="form-control" *ngIf="this.mayWrite" [(ngModel)]="item.value">
                                <button class="btn btn-sm btn-primary ml-2 float-right" *ngIf="this.mayWrite" (click)="toggleItemType(i, itemIndex)">
                                    <i class="fa fa-lock" *ngIf="item.type == 'password'"></i>
                                    <i class="fa fa-font" *ngIf="item.type != 'password'"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2" *ngIf="set.items.length <= 0">
                            <div class="col col-md-12">
                                <p><small class="text-muted">No items in the list yet.</small></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <button class="btn btn-sm btn-primary mr-2" *ngIf="this.mayWrite" (click)="addItem(i)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <button class="btn btn-sm btn-primary mr-2 float-right" *ngIf="this.mayWrite" (click)="addTab()">
                                    <i class="fa fa-plus"></i> Add Tab
                                </button>
                            </div>
                        </div>
                    </tab>
                </tabset>
                <br>
                <div *ngIf="this.mayWrite">
                    <h6>Change Master-Password</h6>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" id="newPassword" name="newPassword1" class="form-control" placeholder="New Master-Password"
                            [(ngModel)]="this.newPassword1">
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input type="password" id="newPassword" name="newPassword2" class="form-control" placeholder="New Master-Password"
                            [(ngModel)]="this.newPassword2">
                    </div>
                </div>
                <div class="alert alert-danger mt-4" role="alert" *ngIf="this.error.length > 0">
                    {{this.error}}
                </div>
            </div>
            <app-password-share-login (onLogin)="this.onLogin($event)" [project]="this.project" *ngIf="!this.decrypted"></app-password-share-login>
        </div>
    </div>
    <div class="card-footer " *ngIf="this.mayWrite && this.decrypted">
        <button type="submit" class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i> Save</button>
        <div class="spinner-grow spinner-grow-sm text-primary ml-2" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>
        <span class="success" [class.shown]="successShown">
            <i class="fa fa-check text-success ml-2"></i> Successfully saved
        </span>
    </div>
</div>

<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove your password share component? You will not be able to restore your
                    contents afterwards.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
                <button type="button" class="btn btn-warning" (click)="this.hideComponent()">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->