<div class="input-group">
    <input [type]="this.currentType" class="form-control" [value]="this.value" disabled>
    <div class="input-group-append">
        <button class="btn" *ngIf="this.addVisibilitySwitch"
            [class.btn-secondary]="this.currentType == 'password'"
            [class.btn-warning]="this.currentType != 'password'"
            (click)="toggleVisibility()"
            >
            <i class="fa fa-eye-slash" *ngIf="this.currentType == 'password'"></i>
            <i class="fa fa-eye" *ngIf="this.currentType != 'password'"></i>
        </button>
        <button class="btn"
            [class.btn-primary]="!this.showCopyAnimation"
            [class.btn-success]="this.showCopyAnimation"
            *ngIf="this.addCopyButton"
            ngxClipboard
            [cbContent]="this.value"
            (cbOnSuccess)="this.copied($event)"
            >
            <i class="fa mr-2" [class.fa-clipboard]="!this.showCopyAnimation" [class.fa-check]="this.showCopyAnimation"></i> {{this.showCopyAnimation ? 'Copied': 'Copy '}}
        </button>
    </div>
</div>