<button class="btn btn-pill btn-light" (click)="onPasswordShareAdd()" *ngIf="!this.project.passwordShareComponent?.active"><i
        class="fa fa-key"></i> Add Password Sharing</button>
<button class="btn btn-pill btn-light" (click)="onLinkShareAdd()" *ngIf="!this.project.linkShareComponent?.active"><i
        class="fa fa-link"></i> Add Link Sharing</button>
<button class="btn btn-pill btn-light"  (click)="onFeedAdd()" *ngIf="!this.project.feedComponent?.active"><i
        class="fa fa-comments"></i> Add Feed and File-Sharing</button>
<button class="btn btn-pill btn-light"  (click)="onProgressAdd()" *ngIf="!this.project.progressComponent?.active"><i
        class="fa fa-percent"></i> Add Progress Visualization</button>
