<h1>{{this.projectId}}</h1>

<div class="animated fadeIn" *ngIf="this.project">
    <h1 class="col-md-12">{{this.project.name}}</h1>
    <p class="text-muted col-md-6">{{this.project.description}}</p>
    <div class="row">
        <app-password-share [project]="this.project" class="col-md-6" *ngIf="this.project?.passwordShareComponent?.active"></app-password-share>
        <app-add-component class="col-md-6" [project]="this.project" (onComponentAdded)="this.componentAdded()"></app-add-component>
    </div>
</div>