<button class="btn btn-ghost-secondary float-right" *ngIf="this.mayWrite" (click)="this.warningModal.show()"><i class="fa fa-close"></i></button>
<div class="row d-flex mt-2 ml-2 mr-2">
  <div class="image-wrapper mr-4">
    <img src="/assets/img/avatars/default_profile_pic.png">
    </div>
  <div class="input-wrapper">
    <div class="">
      <div class="username text-muted"><b>{{currentName}}</b></div>
      <div class="text-muted"><small>Posted on {{this.feedMessage.createdAt | date:'medium'}}</small></div>
    </div>
    <div class="text-content mt-2" [innerHtml]="this.feedMessage.message">

    </div>
    <div class="attachment-content">
      <a href="{{a.url}}" target="_blank" *ngFor="let a of attachments">
        <img src="{{a.url}}" class="attachment-image" *ngIf="this.isImage(a)"><button class="btn btn-ghost-info"><i class="fa fa-paperclip"></i> {{a.filename}}</button>
      </a>
      <!-- <button class="btn btn-ghost-info"><i class="fa fa-paperclip"></i> Anhang_1.docx</button>
      <button class="btn btn-ghost-info"><i class="fa fa-paperclip"></i> Anhang_2.zip</button>
      <button class="btn btn-ghost-info"><i class="fa fa-paperclip"></i> Anhang_3.xlsx</button> -->
    </div>
  </div>
</div>

<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to hide the message? It will not be deleted but instead a message will be shown that the message has been deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="warningModal.hide()">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="this.deleteMessage()">Delete</button>
    </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
