<div class="animated fadeIn">
  <div class="row mb-2">
    <div class="col-md-12 col">
      <h1>Your Projects</h1>
    </div>
  </div>
  <div class="row" *ngIf="this.projects.length > 0">
    <div class="col-sm-6 col-lg-3" *ngFor="let project of this.projects; let i = index">
      <a [routerLink]="['/projects', project.id]">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <!-- <button type="button" class="btn btn-transparent p-0 float-right">
              <i class="icon-location-pin"></i>
            </button> -->
            <div class="text-value">{{project.name}}</div>
            <div>{{(project.description?.length>100)? (project.description | slice:0:100)+'...':(project.description)}}</div>
          </div>
          <div class="mt-3 mx-3">
            <app-progress-preview [progressComponent]="project.progressComponent" *ngIf="project.progressComponent"></app-progress-preview>
            <app-feed-preview     [feedComponent]="project.feedComponent"         *ngIf="project.feedComponent"></app-feed-preview>
            <p class="text-light" *ngIf="!project.feedComponent && !project.progressComponent">Nothing new...</p>
          </div>
        </div>
      </a>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row h-100" *ngIf="this.projects.length <= 0">
    <div class="col col-md-12 mt-4 mb-4 text-align-center d-flex flex-column justify-content-center align-items-center h-100">
      <p>You don't have created any projects yet. </p>
      <p><b>Create your first project now</b></p>
      <a [routerLink]="['/projects', 'new']"><button class="btn btn-lg btn-primary">
        <i class="fa fa-plus mr-2"></i> Create Your First Project
      </button></a>
    </div>
  </div>
</div>
